@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;

    display: grid;
    justify-content: center;
    align-items: center;

    background-color:#121212;
}

table {
    border-collapse: collapse; /* removes extra spacing and borders betwen the elements */
    background-color: #363636;
    text-align: left;
    border: none;
    font-size: 0.9rem;
    color: #f5f5f5;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    margin-bottom: 10px;
}


th {
    background-color: #1D1D1D;
    color: white;
    padding: 1.5rem 2rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 900;
    border: none;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

td {
    border: none;
    padding: 1rem 2rem;
}

tr:nth-child(even) {
    background-color: #2b2a2a;
}

tr:last-child {
    border-bottom: 4px solid #BB86FC;
}


button {
    background: none;
    border: none;
    padding: 10px;

    background-color: #BB86FC;
    color: white;
    cursor: pointer;
}

h2 {
    text-transform: uppercase;
    color: #f5f5f5;
    margin-bottom: 20px;
}

a {
    color:#BB86FC;
    text-decoration: none;
}

.btn-section {
    display: flex;
    justify-content: flex-end;
}